CONNECTION_STRING=mongodb+srv://<conn_str>
MONGOSH=/opt/homebrew/bin/mongosh
# Y or N
USE_PREIMAGES=N
SHARD_OUTPUT_COLLECTION=N
SMALL_TEST_DOCS=N

# Options for the insert test
DOCS_TO_INSERT=200000
INSERT_BATCH_SIZE=500
PERCENT_UPDATES=30
PRE_UPDATE_INSERT_COUNT=1000


